{{#each this}}
  <li class='js-movie__item grid-item' data-id={{id}}>

    <img
      class='js-movie__image'
      loading='lazy'
      src='https://image.tmdb.org/t/p/original/{{poster_path}}'
      alt={{title}}
      data-id={{id}}
    />

    <h2 data-id={{id}} class='js-movie__title grid-title'>{{original_title}}</h2>

    <p data-id={{id}} class='js-movie__genre grid-year'>{{genre_ids}}{{#unless @last}}{{/unless}}
      |
      {{release_date}}</p>

  </li>
{{/each}}