{{#each this}}
  <li class='js-movie__item grid-item' data-id={{id}}>

    {{#if poster_path}}
      <img
        class='js-movie__image'
        loading='lazy'
        src='https://image.tmdb.org/t/p/original/{{poster_path}}'
        alt='{{title}}{{name}}'
        data-id='{{id}}'
      />
    {{else}}
      <img
        class='js-movie__image'
        loading='lazy'
        src='https://www.prokerala.com/movies/assets/img/no-poster-available.jpg'
        alt='no-poster-available'
        data-id='{{id}}'
      />
    {{/if}}

    {{#if original_title}}
      <h2 class='js-movie__title grid-title' data-id={{id}}>{{original_title}}{{original_name}}</h2>
    {{else}}
      <h2 class='js-movie__title grid-title' data-id={{id}}>"Not available!"</h2>
    {{/if}}

    {{#if release_date}}
      <p class='js-movie__genre grid-year'>
        {{!-- {{#each genres}} --}}
        {{!-- {{name}} --}}
        {{!-- {{/each}}  --}}
        {{genre_ids}}
        |
        {{year}}</p>
    {{else}}
      <p class='js-movie__genre grid-year'>
        {{!-- {{#each genres}}
       {{name}}
        {{/each}}  --}}
        {{genre_ids}}
        | "Not available!"</p>
    {{/if}}

  </li>
{{/each}}