{{#each this}}
  <li class='js-movie__item grid-item'>

    <img
      class='js-movie__image'
      loading='lazy'
      src='https://image.tmdb.org/t/p/original/{{poster_path}}'
      alt='{{title}}{{name}}'
      data-id='{{id}}'
    />

    <h2 class='js-movie__title grid-title' data-id={{id}}>{{original_title}}{{original_name}}</h2>

    <p class='js-movie__genre grid-year'>{{#each genres}} {{name}} {{/each}} | {{release_date}}</p>

  </li>
{{/each}}